body {
    background: linear-gradient(darkblue, black);
    color: white;
    text-align: center;
    font-family: fantasy;
    font-style: inherit;
    font-size: larger;
}

.navbar {
    overflow: hidden;
    background-color: #7598FF;
    font-family: fantasy;
    font-style: inherit;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: inherit;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: 4px;
    color: black;
    padding: 14px 16px;
    background-color: #545eff;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #7598ff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #545eff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #7598ff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: #545eff;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: inherit
}

.dropup {
    float: left;
    position: relative;
    display: inline-block;
}

.dropup-content {
    display: none;
    position: absolute;
    background-color: #545eff;
    min-width: 10px;
    bottom: 50px;
    z-index: 1;
}

.dropup-content a {
    color: black;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

.dropup-content a:hover {background-color: #7598ff}

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover .dropbtn {
    background-color: #7598FF;
}