body {
    background: linear-gradient(Lightblue, blue);
    color: white;
    text-align: center;
    font-family: fantasy;
    font-style: inherit;
    font-size: larger;
}
#beans {
    font-size: 90px;
}

.texxt{
    
}