body {
    background: linear-gradient(darkblue, black);
    color: white;
    text-align: center;
    font-family: fantasy;
    font-style: inherit;
    font-size: larger;
    
}
.MeGusta {
    display: flex;
    Justify-content: Flex-start;
}